<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Smart Green House</title>
  <link rel="stylesheet" href="static/css/bootstrap.min.css" />
  <link rel="stylesheet" href="static/css/highcharts.css" />
  <link rel="stylesheet" href="static/css/dark-unica.css" />
  <link rel="stylesheet" href="static/css/style.css" />


  <script type="text/javascript" src="static/js/jquery.min.js"></script>
  <script type="text/javascript" src="static/js/popper.min.js"></script>
  <script type="text/javascript" src="static/js/bootstrap.bundle.min.js"></script>

  <script type="text/javascript" src="static/js/highstock.js"></script>
  <script type="text/javascript" src="static/js/highcharts-more.js"></script>
  <script type="text/javascript" src="static/js/accessibility.js"></script>
  <script type="text/javascript" src="static/js/solid-gauge.js"></script>
  <script type="text/javascript" src="static/js/series-label.js"></script>
  <script type="text/javascript" src="static/js/bullet.js"></script>
  <script type="text/javascript" src="static/js/export-data.js"></script>
  <script type="text/javascript" src="static/js/exporting.js"></script>
  <script type="text/javascript" src="static/js/dark-unica.js"></script>

  <script type="text/javascript" src="static/js/socket.io-3.0.5.min.js" defer></script>

  <script type="text/javascript" src="static/js/renderer.js" defer></script>
  <script type="text/javascript" src="static/js/mycharts.js" defer></script>
  <script type="text/javascript" src="static/js/script.js" defer></script>
</head>

<body style="background-color: #121212;">
  <div class="isloading"></div>
  <main>
    <nav class="navbar  navbar-dark px-4" style="background-color: #323232;">
      <a class="navbar-brand" style="font-size: 1em;">Smart Green House</a>
      <div class="nav-item">
        <span id="status_mode" class="text">MODE AUTO (Close Loop)</span>
      </div>
    </nav>
    <div class="row" style="height: 100vh;">
      <div class="col-xl-2 col-xxl-2 col-sm-2 p-sm-0" style="background-color: #212121;">
        <ul id="console">
        </ul>
        <div class="form-popup" id="myForm">
        </div>
        <div class="relays-switch flex-row " id="relays">
        </div>

        <div class="text-relay" style="background-color: #454545;">Ganti Mode</div>
        <div class="mode-item">
          <label class="switch"> <input type="checkbox" onchange="Relays.change()" id="relmode">
            <span class="slider"></span>
          </label>
        </div>
        <button class="setting-btn" onclick="data_form.openForm()">
          <span>Buka Setting</span>
        </button>
      </div>
      <div class="col-xxl-6 col-xl-6 col-sm-6 p-sm-0">
        <figure class="container mt-2" id="gauge-item">
        </figure>
        <div class="container">
          <div id="charthumidsuhu"> </div>
        </div>
      </div>
      <div class="col-4 bullets-container" id="bulletsItem">
      </div>
    </div>
  </main>
</body>

</html>
